.home__background {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../../public/images/clay-banks-e6pK_snssSY-unsplash.jpg") no-repeat
      center;
  background-size: cover;
}

.home__content {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.home__heading {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #061e23;
  text-align: center;
}

.home__description {
  font-size: 1.8rem;
  color: #061e23;
  line-height: 2.4rem;
}

.home__description--span {
  color: #2095ac;
}

@media (min-width: 600px) {
  .home__background {
    background-position: 50% 75%;
  }
}

@media (min-width: 700px) {
  .home__content {
    width: 75%;
  }
}

@media (min-width: 800px) {
  .home__background {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url("../../public/images/clay-banks-cEzMOp5FtV4-unsplash.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 60%;
  }
}
