.drug__accordion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.drug__accordion-button {
    font-size: 3rem;
    color: #2095ac;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.drug__subheading {
    font-size: 2rem;
    color: #2095ac;
    cursor: pointer;
}

.drug__property {
    font-size: 1.8rem;
    color: #061e23;
    margin: 0 2rem;
}
