@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  background-color: hsl(190, 69%, 96%);
  overflow-x: hidden;
}

/* @media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
} */
